<?xml version="1.0" encoding="UTF-8"?>
<!-- Unit tests for pure-PHP pieces of the plugin (no WordPress bootstrap needed). -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/php/bootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">
	<testsuites>
		<testsuite name="unit">
			<directory>tests/php</directory>
		</testsuite>
	</testsuites>
</phpunit>
